.card {
  background: lightgray;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.body {
  width: 100%;
  min-height: 200px;
  height: 200px;
  display: flex;
  overflow: hidden;
}

.image_container {
  position: relative;
}

.image {
  margin: 15px 0;
  margin-left: 15px;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border: 3px solid black;
}

.years {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  background: #fdd83c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 0;
}

.language {
  position: absolute;
  top: 110px;
  left: 55px;
  background: black;
  border: 2px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.data {
  width: 150px;
  margin: 15px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.data_row {
  margin: 5px;
}
