.card {
  background: lightgray;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  width: 100%;
  display: flex;
  align-content: space-between;
}

.image_container {
  position: relative;
  margin-bottom: 15px;
}

.image {
  margin: 15px 0;
  margin-left: 15px;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border: 3px solid black;
}

.years {
  height: 35px;
  width: 35px;
  border: 1px solid black;
  border-radius: 50%;
  background: #fdd83c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 0;
  font-family: "Shadows Into Light", cursive;
  font-size: 24px;
}

.language {
  position: absolute;
  top: 100px;
  left: 55px;
  background: black;
  border: 2px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.data {
  font-family: "Strait", sans-serif;
  width: 150px;
  margin-left: 5px;
  padding-left: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact {
  font-family: "Strait", sans-serif;
  text-align: center;
  font-size: 30px;
  position: relative;
}

.email {
  display: block;
  margin: 20px auto;
  font-family: "Strait", sans-serif;
  font-size: 20px;
  width: 200px;
  text-align: left;
  cursor: pointer;
  border: 3px solid black;
  padding: 5px;
}

.phone {
  display: block;
  margin: 20px auto;
  font-family: "Strait", sans-serif;
  font-size: 20px;
  width: 200px;
  text-align: left;
  cursor: pointer;
  border: 3px solid black;
  padding: 5px;
}

.copy {
  position: relative;
}

.copy::before {
  pointer-events: none;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  position: absolute;
  bottom: 10px;
  right: 60px;
  z-index: 10;
  transition: all 1s;
}

.copy::after {
  pointer-events: none;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid darkgrey;
  position: absolute;
  bottom: 15px;
  right: 65px;
}

.map {
  display: block;
  height: 300px;
  width: 100%;
  border: 0;
}
