@import-normalize; /* bring in normalize.css styles */

/* Available fonts
  font-family: "Fira Sans", sans-serif;
  font-family: "Shadows Into Light", cursive;
  font-family: "Strait", sans-serif; */

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(57, 92, 99, 1) 50%,
    rgba(103, 157, 168, 1) 100%
  );
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  position: relative;
  overflow: hidden;
}
