.card {
  background: darkgray;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.top {
  background: darkslategray;
  width: 100%;
  text-align: center;
}

.bottom {
  background: darkslategray;
  width: 100%;
  text-align: center;
}

.heading {
  color: white;
}

.body {
  width: 100%;
  min-height: 200px;
  height: 200px;
  display: flex;
  overflow: hidden;
  transition: all 0.4s;
}

.body.body_collapsed {
  min-height: 0px;
  height: 0px;
  transition: all 0.4s;
}

.image {
  margin: 15px 0;
  margin-left: 15px;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border: 3px solid black;
}

.data {
  margin: 15px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.data_row {
  margin: 5px;
  font-weight: bold;
}
